@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --blue: #2563EB;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-geist);
  letter-spacing: -0.05em;
}

::selection {
  background: #2563EB;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #2563EB;
  border-radius: 10px;
}

section {
  scroll-margin-top: 120px;
}
